    $color-verde:#10aeb9;
    $color-verdea:#10aeb99d;
    $color-plomizo:rgb(240, 240, 240);
    $color-negro:rgb(32, 32, 32);
    $color-negroTransparente:rgba(32, 32, 32, 0.938);
    $color-rojizo:rgb(255, 74, 74);
    $color-amarillo:rgb(255, 255, 74);
